<!-- Вставь этот фрагмент перед закрывающим </body> в views/game.ejs, удалив старую вставку всего JS как текста -->
<script>
  // Безопасно передаём roomId в клиентский файл
  window.ROOM_ID = "<%= typeof roomId !== 'undefined' ? roomId : '' %>";
</script>
<script src="/js/game.js"></script>
